{% load html_corrections %}

<body>
	<div style="max-width: 900px; text-align: justify; margin: auto; padding-top: 20px; padding-bottom: 20px;">
		{% for e in entries %}
			<div style="margin-bottom: 50px; {% if e.in_future %}color:gray;{% endif %}">
				<h3 style="color:orange;">{{ e.day }}</h3>
				{% if e.has_header %}
					<h2>{{ e.header }}</h2>
				{% endif %}
				<p>
					{{ e.content|squish_ul_linebreaks|safe|linebreaks }}
					{% if e.content_day %}
						<h3><i>Day:</i></h3>
						{{ e.content_day|squish_ul_linebreaks|safe|linebreaks }}
					{% endif %}
					{% if e.content_thought %}
						<h3><i>Thoughts:</i></h3>
						{{ e.content_thought|squish_ul_linebreaks|safe|linebreaks }}
					{% endif %}
					{% if e.content_idea %}
						<h3><i>Ideas:</i></h3>
						{{ e.content_idea|squish_ul_linebreaks|safe|linebreaks }}
					{% endif %}
				</p>
				{% if e.has_to_do %}
					<p><b>To Do: </b>{{ e.to_do }}</p>
				{% endif %}
				{% if e.has_done %}
					<p><b>Done: </b>{{ e.done }}</p>
				{% endif %}
				<p>
					{% if e.has_tags %}
						<b>tags:</b> {{ e.tags }}
					{% endif %}
					<b>place:</b> {{ e.place }}
				</p>
			</div>
		{% endfor %}
	</div>
</body>