{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<body>
	<p>Move by day <a href={{prev_day_url}}><-</a> <a href={{next_day_url}}>-></a></p>
	<p>Move to previous or next valid entry (one with hs pics) <a href={{existing_prev_day_url}}><-</a> <a href={{existing_next_day_url}}>-></a></p>
	<div>
		{% if entry %}
			{% include "entry.html" %}
		{% endif %}
		{% if hs_pics %}
			<h3>HS pics from that day:</h3>
			{% for pic in hs_pics %}
				{{ pic }}<br><!--
				<img src="{{ pic }}"></img>-->
			{% endfor %}
		{% endif %}
		{{ pic_tuples }}
	</div>
</body>