{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<nav><strong>
	<a href="/admin">admin</a>
	| <a href="/">index</a>
	| <a href="/admin/entries/entry/add/"><img src="/static/admin/img/icon-addlink.svg"> entry</a>
	| <a href="/all">all entries</a>
	| <a href="/list">list headers</a>
	| <a href="/sync">synchronize</a>
	| <a href="/sync_connect">sync_connect</a>
	| <a href="/graph">graphs</a>
</strong></nav>