{% load static %}

{% include "navbar.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<style type="text/css">
    table.diff {font-family:Courier; border:medium;}
    .diff_header {background-color:#e0e0e0}
    td.diff_header {text-align:right}
    .diff_next {background-color:#c0c0c0}
    .diff_add {background-color:#aaffaa}
    .diff_chg {background-color:#ffff77}
    .diff_sub {background-color:#ffaaaa}
</style>

<body>
	<div class="main-box">
		<p>Server IP: {{server_ip}}</p>
		<p>Client IP: {{client_ip}}</p>
		{% if error %}
			<p>{{error}}</p>
		{% elif not html_diffs %}
			<p>Models are identical, no diff to produce for {{model}}!</p>
		{% endif %}
	</div>
	{% if html_diffs %}
		<form action="sync_process_diff" method="POST">
			{% csrf_token %}
			<input type="submit" value="Submit">
			<input type="hidden" name="server_ip" value="{{server_ip}}">
			<input type="hidden" name="client_ip" value="{{client_ip}}">
			<input type="hidden" name="model" value="{{model}}">
			{% for html_diff, merge_form in html_diffs %}
				{{html_diff|safe}}
				↪<!--⤷-->{{merge_form}}
			{% endfor %}
			<input type="submit" value="Submit">
		</form>
	{% endif %}
</body>
