{% load static %}

{% include "navbar.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<body>
	<div class="main-box">
		<h3>Setup:</h3>
		<ol>
			<li>On machine to be connected to run <code>python manage.py runserver 0.0.0.0:8000</code></li>
			<li>Sync by browsing this page</li>
		</ol>

		<h3>Step 0</h3>
		<p>TODO adress to connect to</p>
		<p>TODO default url (will be pc on mobile & mobile on pc;
			user chooses functionality by Machine model & IP model)</p>

		<h3>Step 1</h3>
		<p>Machines:</p>
		{% for machine in data %}
			<h4>{{machine.machine}}</h4>
			<ul>
				<li>Matches: {{machine.matches}}</li>
				<li>{{machine.msg}}</li>
				{% include "LogEntry_table.html" with header="log ahead" data=machine.log.ahead %}
				{% include "LogEntry_table.html" with header="log behind" data=machine.log.behind %}
			</ul>
		{% endfor %}
		<p>TODO: decode?</p>

		<h3>Step 2</h3>
		<p>TODO</p>
	</div>
</body>
